{include file="public:header" /}
<link href="/static/Admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>添加用户</title>
</head>
<body>
<div class="pd-20">
    <div class="row cl">
      <div class="formControls col-12">
        <div class="uploader-list-container" id="uploader"> 
          <div class="queueList">
            <div id="dndArea" class="placeholder">
              <div id="filePicker-2"></div>
              <p>或将图片拖到这里，单次最多可选20张</p>
            </div>
          </div>
          <div class="statusBar" style="display:none;">
            <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
            <div class="info"></div>
            <div class="btns">
              <div id="filePicker2"></div>
              <div class="uploadBtn">开始上传</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<script type="text/javascript">
    var public_path = '/static/Admin/';
    var upload_url = "{:url('Base/upload_banner',array('type'=>input('type')))}";
    var pro_id = 1;
</script>
<script type="text/javascript" src="/static/Admin/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="/static/Admin/js/webuploader.js"></script> 
</body>
</html>