{include file="public/header" /}

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 基本设置 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
                <span>锁仓时间</span>
                <!--<span>商城报单</span>-->
                <span>短信设置</span>
                <span>货币汇率</span>
            </div>
            
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>网站名称：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[website]" placeholder="" value="{$base.website}" class="input-text">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>公告：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[notice]" placeholder="" value="{$base.notice}" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>平台钱包地址：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[money_address]" placeholder="" value="{$base.money_address}" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>版本：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[version]" placeholder="请填写数字或小数" value="{$base.version}" class="input-text">
                    </div>
                </div>                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>苹果安装包下载地址：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[apk]" placeholder="" value="{$base.apk}" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>安卓安装包下载地址：</label>
                    <div class="formControls col-5">
                        <input type="text" name="base[apk1]" placeholder="" value="{$base.apk1}" class="input-text">
                    </div>
                </div>
                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>会员收货地址：</label>-->
                    <!--<div class="formControls col-5">最多 -->
                        <!--<input type="text" name="base[address]" style="width: 100px;" placeholder="" value="{$base.address}" class="input-text"> 个-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>个人正在进行的交易订单：</label>-->
                    <!--<div class="formControls col-5">最多 -->
                        <!--<input type="text" name="base[order]" style="width: 100px;" placeholder="" value="{$base.order}" class="input-text"> 个-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>积分提现区间：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input type="text" name="base[integral_up]" style="width: 100px;" placeholder="" value="{$base.integral_up}" class="input-text"> ~-->
                        <!--<input type="text" name="base[integral_lt]" style="width: 100px;" placeholder="" value="{$base.integral_lt}" class="input-text"> -->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>复投手续费：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input type="text" name="base[gold_static_gold]" style="width: 100px;" placeholder="" value="{$base.gold_static_gold}" class="input-text">%-->
                    <!--</div>-->
                <!--</div>-->
            
            </div> 


           

            <div class="tabCon">
                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">[烧伤] 首推奖励</span></label>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>首次消费金额的：</label>-->
                    <!--<div class="formControls col-5">-->
                         <!--<input style="width: 100px;" type="text" name="reward[first]" placeholder="" value="{$reward.first}" class="input-text"> %-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">[烧伤] 团队管理奖</span></label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--{foreach name="role" item="rv" key="rk"}-->
                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>{$rv}：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input style="width: 100px;" type="text" name="reward[team_role{$rk}]" placeholder="" value="{$reward['team_role'.$rk]}" class="input-text"> ‰-->
                    <!--</div>-->
                <!--</div>-->
                <!--{/foreach}-->

                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">新增业绩奖</span></label>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>经理：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input style="width: 100px;" type="text" name="reward[new_orderA]" placeholder="" value="{$reward.new_orderA}" class="input-text"> %-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>总监：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input style="width: 100px;" type="text" name="reward[new_orderB]" placeholder="" value="{$reward.new_orderB}" class="input-text"> %-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">新增业绩同级奖</span></label>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>总收入的：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input style="width: 100px;" type="text" name="reward[new_order_count]" placeholder="" value="{$reward.new_order_count}" class="input-text"> %-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">静态金币天数限制</span></label>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>释放：</label>
                    <div class="formControls col-5">
                        <input style="width: 100px;" type="text" name="reward[static_gold_rid]" placeholder="" value="{$reward.static_gold_rid}" class="input-text"> 天后开始释放
                    </div>
                </div>

            </div>
        

            <!--<div class="tabCon">-->
                <!--<div class="row cl">-->
                    <!--<div class="formControls col-5">-->
                        <!--<label class="form-label col-4"><span class="label label-primary radius">商城报单返可提现</span></label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--{foreach name="role" item="rv" key="rk"}-->
                    <!--<div class="row cl">-->
                        <!--<label class="form-label col-2"><span class="c-red">*</span>{$rv}：</label>-->
                        <!--<div class="formControls col-5">-->
                            <!--<input style="width: 100px;" type="text" name="base[put_integral_{$rk}]" placeholder="" value="{$base['put_integral_'.$rk]}" class="input-text"> %-->
                        <!--</div>-->
                    <!--</div>-->
                <!--{/foreach}-->
            <!--</div>-->
            <div class="tabCon">
                <div class="row cl">
                    <div class="formControls col-5">
                        <label class="form-label col-4"><span class="label label-primary radius">短信设置</span></label>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>短信签名：</label>
                    <div class="formControls col-5">
                        <input type="text" name="message[msgname]" placeholder="" value="{$message.msgname}" class="input-text">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>模板Code：</label>
                    <div class="formControls col-5">
                        <input type="text" name="message[code]" placeholder="" value="{$message.code}" class="input-text">
                    </div>
                </div>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <div class="formControls col-5">
                        <label class="form-label col-4"><span class="label label-primary radius">货币汇率</span></label>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>糖果兑TIC：</label>
                    <div class="formControls col-5">
                        <input type="text" name="rate[candy]"
                               placeholder="100 表示100个糖果兑换1TIC"
                               value="{$rate.candy}" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>矿石兑TIC：</label>
                    <div class="formControls col-5">
                        <input type="text" name="rate[mineraltic]"
                               placeholder="100 表示100个矿石兑换1TIC"
                               value="{$rate.mineraltic}" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2"><span class="c-red">*</span>USDT汇率：</label>
                    <div class="formControls col-5">
                        <input type="text" name="rate[usdt]" placeholder="" value="{$rate.usdt}" class="input-text">
                    </div>
                </div>
                <!--<div class="row cl">-->
                    <!--<label class="form-label col-2"><span class="c-red">*</span>矿石兑USDT：</label>-->
                    <!--<div class="formControls col-5">-->
                        <!--<input type="text" name="rate[mineral]"-->
                               <!--placeholder="0.143 表示1个矿石兑换0.143USDT"-->
                               <!--value="{$rate.mineral}" class="input-text">-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="/public/static/Admin/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="/public/static/Admin/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="/public/static/Admin/kindeditor-4.1.10/lang/zh_CN.js"></script>

<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    $.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
    //颜色

    $("#form-member-add").Validform({
        tiptype:2,
        ajaxPost:true,
        callback:function(data){
            setTimeout(function(){
                $.Hidemsg();
                if(data.status == 'y'){
                    
                }
            },1000);
        }
    });

});
KindEditor.ready(function(K) {
    var editor = K.editor({
        allowFileManager : true,       
        uploadJson : "/index.php/Admin/Base/uploadImg/path/system/thumb/0.html", //上传功能
        fileManagerJson : '/Public/Admin/kindeditor-4.1.10/php/file_manager_json.php?dirpath=system', //网络空间
      });  
    //上传背景图片
    K('#image').click(function() {
      editor.loadPlugin('image', function() {
        editor.plugin.imageDialog({
            //showRemote : false, //网络图片不开启
            //showLocal : false, //不开启本地图片上传
            imageUrl : K('#picurl').val(),
            clickFn : function(url, title, width, height, border, align) {
            K('#picurl').val(url);
            $('#thumb_url').attr("src",'' + url);
            editor.hideDialog();
          }
        });
      });
    }); 
    K('#image2').click(function() {
      editor.loadPlugin('image', function() {
        editor.plugin.imageDialog({
            //showRemote : false, //网络图片不开启
            //showLocal : false, //不开启本地图片上传
            imageUrl : K('#picurl2').val(),
            clickFn : function(url, title, width, height, border, align) {
            K('#picurl2').val(url);
            $('#thumb_url2').attr("src",'' + url);
            editor.hideDialog();
          }
        });
      });
    }); 
});

</script>
</body>
</html>