{include file="public/header" /}
<body>
<header class="Hui-header cl"> <a class="Hui-logo l" target="_blank" href="/">{:get_config('base','website')}</a> <a class="Hui-logo-m l" href="http://app.zengliangkeji.com/#/home" title="{:get_config('base','website')}">{:get_config('base','website')}</a> 
	<ul class="Hui-userbar">
		<li>{$admin.nickname}</li>
		<li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">{$admin.username} <i class="Hui-iconfont">&#xe6d5;</i></a>
			<ul class="dropDown-menu radius box-shadow">
				<li><a href="javascript:;" onClick="article_add('管理员编辑','{:url('auth/admin_add',['id'=>$admin.id])}')">个人信息</a></li>
				<li><a href="{:url('Index/logout')}">退出</a></li>
			</ul>
		</li>
		<li id="Hui-msg"> <a href="javascript:void(0)"
		onClick="article_add('留言管理','{:url('System/message',['state'=>0])}')" id="info_num" 
		title="消息"><span class="badge badge-danger">...</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
		<li id="Hui-skin" class="dropDown right dropDown_hover"><a href="javascript:;" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
			<ul class="dropDown-menu radius box-shadow">
				<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
				<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
				<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
				<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
				<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
				<li><a href="javascript:;" data-val="orange" title="绿色">橙色</a></li>
			</ul>
		</li>
	</ul>
	<a href="javascript:;" class="Hui-nav-toggle Hui-iconfont" aria-hidden="false">&#xe667;</a> </header>
<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		{volist name="menu" id="v1"}
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe717;</i> {$v1.title}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					{volist name="v1.child" id="v2"}
					<li><a _href="{:url($v2['name'],$v2['param'])}" data-title="{$v2.title}" href="javascript:void(0)">{$v2.title}</a></li>
					{/volist}
				</ul>
			</dd>
		</dl>
		{/volist}
	</div>
</aside>
<div class="dislpayArrow"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href="welcome.html">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="welcome.html"></iframe>
		</div>
	</div>
</section>
<script type="text/javascript">
/* 留言提醒 */
$(function(){
message();
var t1 = setInterval(message,5000);
function message(){
	$.post("{:url('system/message_count')}",function(data){
		$(".badge").text(data.count);
	});
}

});


/*资讯-添加*/
function article_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}

</script> 
</body>
</html>