{include file="public/header" /}
<body>
    <div class="pd-20" style="padding-top:20px;">
      <p class="f-20 text-success">欢迎使用{:get_config('base','website')}管理系统！</p>
      <p>登录次数：{$admin.login_num} </p>
      <p>上次登录IP：{$admin.login_ip}  最近登录时间：{$admin.login_time|date='Y-m-d H:i:s',###}</p>
      <table class="table table-border table-bordered table-bg">
        <thead>
          <tr>
            <th colspan="7" scope="col">信息统计</th>
        </tr>
        <tr class="text-c">
            <th>统计</th>
            <th>会员数</th>
            <th>商城订单</th>
            <th>资讯库</th>
            <th>产品库</th>
            <th>交易量</th>
        </tr>
    </thead>
    <tbody>
    <tr class="text-c">
        <td>总数</td>
        <td>{$count['member']}</td>
        <td>{$count['order']}</td>
        <td>{$count['news']}</td>
        <td>{$count['product']}</td>
        <td>{$count['trade']}</td>
    </tr>
    <tr class="text-c">
        <td>今日</td>
        <td>{$count['member_day']}</td>
        <td>{$count['order_day']}</td>
        <td>{$count['news_day']}</td>
        <td>{$count['product']}</td>
        <td>{$count['trade_day']}</td>
    </tr>
</tbody>
</table>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th colspan="7" scope="col">资产统计</th>
            </tr>
            <tr class="text-c">
                <th>统计</th>
                <th>手续费总额</th>
                <th>存储TIC</th>
                <th>流通TIC</th>
                <th>应用TIC</th>
                <th>矿石</th>
                <th>糖果</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td>总数</td>
                <td>{$count['totalrate']}</td>
                <td>{$count['storagetic']}</td>
                <td>{$count['circulatetic']}</td>
                <td>{$count['usetic']}</td>
                <td>{$count['mineral']}</td>
                <td>{$count['candy']}</td>
            </tr>
            </tbody>
        </table>
<table class="table table-border table-bordered table-bg mt-20">
    <thead>
      <tr>
        <th colspan="2" scope="col">服务器信息</th>
    </tr>
</thead>
<tbody>
<tr>
    <th width="200">服务器计算机名</th>
    <td><span id="lbServerName">http://127.0.0.1/</span></td>
</tr>
<tr>
    <td>服务器IP地址</td>
    <td>{$_SERVER['SERVER_ADDR']}</td>
</tr>
<tr>
    <td>服务器域名</td>
    <td>{$_SERVER['HTTP_HOST']}</td>
</tr>
<tr>
    <td>服务器端口 </td>
    <td>{$_SERVER['SERVER_PORT']}</td>
</tr>
<tr>
    <td>服务器IIS版本 </td>
    <td>Microsoft-IIS/6.0</td>
</tr>
<tr>
    <td>本文件所在文件夹 </td>
    <td>{$_SERVER['DOCUMENT_ROOT']}</td>
</tr>

<tr>
    <td>服务器当前时间 </td>
    <td>2014-6-14 12:06:23</td>
</tr>
<tr>
    <td>服务器IE版本 </td>
    <td>6.0000</td>
</tr>
<tr>
    <td>服务器上次启动到现在已运行 </td>
    <td>7210分钟</td>
</tr>

<tr>
    <td>CPU 总数 </td>
    <td>4</td>
</tr>
<tr>
    <td>CPU 类型 </td>
    <td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
</tr>
<tr>
    <td>虚拟内存 </td>
    <td>52480M</td>
</tr>
<tr>
    <td>当前程序占用内存 </td>
    <td>3.29M</td>
</tr>
<tr>
    <td>Asp.net所占内存 </td>
    <td>51.46M</td>
</tr>
<tr>
    <td>当前Session数量 </td>
    <td>8</td>
</tr>
<tr>
    <td>当前SessionID </td>
    <td>gznhpwmp34004345jz2q3l45</td>
</tr>
<tr>
    <td>当前系统用户名 </td>
    <td>NETWORK SERVICE</td>
</tr>
</tbody>
</table>
</div>
<footer class="footer">
  <p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>Copyright &copy;2015 H-ui.admin v2.3 All Rights Reserved.<br>
    本后台系统由<a href="" target="_blank" title="">H-ui前端框架</a>提供前端技术支持</p>
</footer>
</body>
</html>